.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #333;
  font-weight: 400;
  text-decoration: none;
}

.container {
  display: block;
}

.grid {
  grid-auto-flow: row;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . . ."
    ". Area-7 Area Area . ."
    ". Area-2 Area-3 Area-3 Area-4 Area-4"
    ". . Area-3 Area-3 Area-4 Area-4"
    ". . Area-5 Area-5 Area-6 Area-6"
    ". . Area-5 Area-5 Area-6 Area-6";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.heading {
  font-family: 'Courier Prime', sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.list-item {
  font-family: 'Courier Prime', sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.list-item:hover {
  text-decoration: underline;
}

.list-item-2 {
  font-family: 'Courier Prime', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.list-item-2:hover {
  text-decoration: underline;
}

.list-item-3 {
  font-family: 'Courier Prime', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.list-item-3:hover {
  text-decoration: underline;
}

.list-item-4 {
  font-family: 'Courier Prime', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.list-item-4:hover {
  text-decoration: underline;
}

.body {
  height: 100%;
  min-height: 100%;
  background-color: #fafafa;
}

.link {
  border: 0px none #000;
  text-decoration: none;
}

.link.w--current {
  line-height: 24px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background-color: #d9d9d9;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background-color: #d9d9d9;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background-color: #d9d9d9;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background-color: #d9d9d9;
}

.text-block {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.grid-copy {
  grid-auto-flow: row;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . . ."
    ". Area . . . ."
    ". Area-2 Area-3 Area-3 Area-3 Area-3"
    ". . Area-3 Area-3 Area-3 Area-3"
    ". . Area-3 Area-3 Area-3 Area-3"
    ". . Area-3 Area-3 Area-3 Area-3";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.grid-2 {
  grid-column-gap: 50px;
  grid-template-areas: "Area Area-9 Area-8"
    "Area-7 Area-2 Area-2"
    "Area-4 Area-5 Area-5"
    "Area-3 Area-6 Area-6"
    "Area-10 Area-11 Area-11"
    "Area-13 Area-14 Area-14"
    "Area-12 Area-12 Area-12";
  -ms-grid-columns: 1fr 50px 2fr 50px 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.heading-2 {
  font-family: 'Courier Prime', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: right;
}

.paragraph {
  font-family: Poppins, sans-serif;
}

.heading-3 {
  margin-top: 0px;
  font-family: 'Courier Prime', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-align: right;
}

.heading-3-copy {
  margin-top: 0px;
  font-family: 'Courier Prime', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-align: right;
}

.link-copy {
  border: 0px none #000;
  font-size: 1em;
  line-height: 40px;
  text-decoration: none;
}

.list-item-3-copy {
  font-family: 'Courier Prime', sans-serif;
  font-size: 2em;
  line-height: 50px;
}

.list-item-3-copy:hover {
  text-decoration: underline;
}

.list-item-4-copy {
  font-family: 'Courier Prime', sans-serif;
  font-size: 2em;
  line-height: 50px;
}

.list-item-4-copy:hover {
  text-decoration: underline;
}

.list-item-2-copy {
  font-family: 'Courier Prime', sans-serif;
  font-size: 2em;
  line-height: 50px;
}

.list-item-2-copy:hover {
  text-decoration: underline;
}

.heading-copy {
  margin-top: 80px;
  font-family: 'Courier Prime', sans-serif;
  font-size: 86px;
  line-height: 64px;
  font-weight: 400;
}

.list-item-copy {
  font-family: 'Courier Prime', sans-serif;
  color: #333;
  font-size: 2em;
  line-height: 50px;
  text-decoration: none;
}

.list-item-copy:hover {
  text-decoration: underline;
}

.image {
  height: auto;
}

.paragraph-2 {
  font-family: Poppins, sans-serif;
}

.paragraph-3 {
  font-family: Poppins, sans-serif;
}

.image-2 {
  min-width: 100%;
}

.image-3 {
  min-width: 100%;
}

.homevertnav {
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 100px;
  line-height: 0.8;
}

.list {
  margin-top: 1em;
  margin-left: 1rem;
}

.text-block-2 {
  position: static;
  display: block;
  overflow: hidden;
  margin-left: 1rem;
  border-radius: 0px;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 100px;
  line-height: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.section {
  height: 100%;
}

.grid-3 {
  height: auto;
  min-height: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr auto minmax(100%, 100%);
  grid-template-rows: 1fr auto minmax(100%, 100%);
}

.div-block-5 {
  width: auto;
  min-height: 0px;
}

.grid-4 {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.grid-5 {
  height: auto;
  min-height: auto;
  grid-auto-rows: 30%;
  grid-row-gap: 16px;
  -ms-grid-columns: 30rem 1fr 1fr;
  grid-template-columns: 30rem 1fr 1fr;
  -ms-grid-rows: auto 30%;
  grid-template-rows: auto 30%;
}

.section-2 {
  height: 100%;
  min-height: 100%;
}

.hometitleheader {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-style: none none solid;
  border-width: 1px 1px 3px;
  border-color: #000 #000 #fafafa;
  font-family: 'IBM Plex Serif', sans-serif;
  color: #353535;
  font-size: 4rem;
  line-height: 0.8;
}

.image-4 {
  width: auto;
  height: 20rem;
}

.div-block-6 {
  display: block;
}

.image-5 {
  display: inline-block;
  width: 50%;
  max-width: 50%;
  opacity: 0;
  text-align: left;
}

.text-block-3 {
  border-radius: 0px;
  opacity: 0.18;
  direction: ltr;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #353535;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
}

.div-block-7 {
  text-align: center;
}

.div-block-8 {
  margin-left: 1rem;
}

.link-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-2.homevertnav {
  display: inline-block;
  border-bottom: 2px solid #fafafa;
  font-size: 4rem;
}

.link-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-3.homevertnav {
  display: inline-block;
  margin-bottom: 0rem;
  border-bottom: 2px solid #fafafa;
  font-size: 4rem;
}

.link-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-4.homevertnav {
  display: inline-block;
  margin-bottom: 0rem;
  border-bottom: 2px solid #fafafa;
  font-size: 4rem;
}

.link-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-5.homevertnav {
  display: inline-block;
  margin-bottom: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none none solid;
  border-width: 3px 3px 2px;
  border-color: #000 #000 #fafafa;
  border-radius: 0px;
  font-size: 4rem;
}

.div-block-9 {
  max-width: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.div-block-10 {
  display: inline-block;
  border: 5px none #000;
}

.div-block-10.linkhover {
  border-bottom: 4px solid #353535;
  border-radius: 0px;
}

.columns {
  height: 100%;
  min-height: 100%;
}

.body-2 {
  display: block;
  height: 100%;
  min-height: 100%;
  background-color: #fafafa;
  color: #fafafa;
}

.column {
  height: 100%;
}

.column-2 {
  height: 100%;
}

.section-3 {
  height: 100%;
  min-height: 100%;
  margin-right: 3rem;
  background-color: #fafafa;
}

.columns-2 {
  height: 100%;
  min-height: 100%;
}

.column-3 {
  height: 100%;
  min-height: 100%;
  margin-top: 1rem;
}

.grid-6 {
  position: fixed;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.navlink {
  display: inline-block;
  border-style: none none solid;
  border-width: 2px;
  border-color: rgba(255, 170, 255, 0.67) rgba(255, 170, 255, 0.67) #fafafa;
  font-family: 'IBM Plex Serif', sans-serif;
  color: #353535;
  font-size: 4rem;
  line-height: 0.8;
}

.grid-7 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.div-block-11 {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: block;
  margin-bottom: 1rem;
  margin-left: 1rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-bottom: 1px none #000;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 48px;
  line-height: 1;
}

.grid-8 {
  height: 100%;
  min-height: 100%;
  margin-right: 1rem;
  -ms-grid-columns: 25rem 1fr;
  grid-template-columns: 25rem 1fr;
}

.div-block-12 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-left: 1rem;
}

.link-6 {
  display: inline-block;
  border-style: none none solid;
  border-width: 2px;
  border-color: #fafafa;
  font-size: 4rem;
  line-height: 0.8;
}

.div-block-13 {
  position: fixed;
  margin-top: 1rem;
  margin-left: 1rem;
}

.container-2 {
  display: block;
  min-height: 1000px;
  margin-top: 0rem;
  background-color: #4f0505;
}

.div-block-14 {
  width: 70%;
  max-width: 80%;
  min-height: 100%;
  min-width: 60%;
  margin-top: 1rem;
  margin-right: 10%;
  margin-left: 10%;
}

.casestudyheader {
  margin-top: 0px;
  margin-bottom: 3rem;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 4.8rem;
  line-height: 0.8;
  font-weight: 400;
}

.casestudysubtitle {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.casestudysubheading {
  margin-bottom: 0.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
}

.paragraph-4 {
  width: 80%;
  min-width: 20%;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 1.3;
}

.paragraph-4.casestudysummary {
  width: 90%;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1.1;
}

.image-6 {
  position: static;
  left: auto;
  display: inline-block;
  text-align: center;
}

.div-block-15 {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.block-quote {
  margin-left: 2rem;
  padding-left: 20px;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.div-block-16 {
  min-height: 100px;
}

.image-7 {
  width: 60%;
  margin-top: 1rem;
}

.image-8 {
  width: 100%;
  margin-bottom: 0rem;
}

.image-9 {
  width: 100%;
  margin-bottom: 0rem;
  padding: 1rem 1rem 0.5rem;
  border: 2px solid #353535;
}

.image-10 {
  width: 100%;
}

.image-11 {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.div-block-17 {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid #353535;
}

.grid-9 {
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.text-block-4 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: right;
}

.text-block-5 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: right;
}

.text-block-6 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: right;
}

.text-block-7 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: right;
}

.link-7 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.text-block-8 {
  font-size: 0.8rem;
}

.text-block-8.captions {
  margin-bottom: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  color: grey;
  line-height: 1.3;
  text-align: center;
}

.grid-10 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-4 {
  margin-top: 0.5rem;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
}

.heading-5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 500;
}

.div-block-18 {
  width: 80%;
  max-width: 80%;
  margin-top: 1rem;
  margin-right: 10%;
  margin-left: 10%;
}

.image-12 {
  mix-blend-mode: normal;
}

.image-13 {
  display: inline-block;
  max-width: 100%;
  text-align: center;
}

.div-block-19 {
  text-align: center;
}

.image-14 {
  max-width: 70%;
}

.div-block-20 {
  text-align: center;
}

.div-block-21 {
  text-align: center;
}

.image-15 {
  max-width: 40%;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.image-16 {
  max-width: 80%;
  margin-top: 1rem;
}

.image-15.bubble {
  max-width: 100%;
  margin-top: 1rem;
}

.div-block-22 {
  text-align: center;
}

.body-3 {
  background-color: #fafafa;
}

.body-4 {
  background-color: #fafafa;
}

.body-5 {
  background-color: #fafafa;
}

.body-6 {
  background-color: #fafafa;
}

.text-block-9 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-block-10 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-block-11 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-block-12 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.desc {
  font-family: 'IBM Plex Sans', sans-serif;
}

.link-block {
  opacity: 1;
}

.text-span {
  text-decoration: underline;
}

.link-8 {
  text-decoration: underline;
}

.link-9 {
  text-decoration: underline;
}

.div-block-23 {
  margin-left: 1rem;
}

.text-span-2 {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (max-width: 991px) {
  .homevertnav {
    font-size: 50px;
  }

  .grid-5 {
    grid-auto-rows: minmax(100%, auto);
    -ms-grid-columns: 20rem 1fr 1fr;
    grid-template-columns: 20rem 1fr 1fr;
  }

  .hometitleheader {
    font-size: 4rem;
  }

  .text-block-3 {
    font-size: 18px;
  }

  .div-block-7 {
    min-height: 100%;
  }

  .link-2.homevertnav {
    border-bottom-width: 2px;
    font-size: 4rem;
  }

  .link-3.homevertnav {
    border-bottom-width: 2px;
    font-size: 4rem;
  }

  .link-4.homevertnav {
    border-bottom-width: 2px;
    font-size: 4rem;
  }

  .link-5.homevertnav {
    border-bottom-width: 2px;
    font-size: 4rem;
  }

  .section-3 {
    margin-right: 0rem;
  }

  .navlink {
    font-size: 32px;
  }

  .grid-8 {
    margin-right: 0rem;
    grid-column-gap: 24px;
    -ms-grid-columns: 30% 1fr;
    grid-template-columns: 30% 1fr;
  }

  .link-6 {
    font-size: 32px;
  }

  .div-block-14 {
    width: 80%;
    max-width: 80%;
    margin-right: 10%;
  }

  .casestudyheader {
    font-size: 48px;
  }

  .casestudysubheading {
    font-size: 24px;
  }

  .paragraph-4 {
    width: 80%;
    margin-right: 2rem;
  }

  .grid-11 {
    margin-right: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media screen and (max-width: 767px) {
  .homevertnav {
    font-size: 40px;
  }

  .grid-5 {
    grid-auto-rows: auto;
  }

  .hometitleheader {
    font-size: 4rem;
  }

  .div-block-6 {
    min-height: auto;
  }

  .image-5 {
    width: auto;
    max-width: 100%;
    margin-right: 0rem;
  }

  .text-block-3 {
    font-size: 16px;
  }

  .section-3 {
    margin-right: 0rem;
  }

  .navlink {
    font-size: 1.67rem;
  }

  .div-block-14 {
    width: 100%;
  }

  .paragraph-4 {
    width: 90%;
    margin-right: 0rem;
  }

  .heading-5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .homevertnav {
    font-size: 36px;
    line-height: 1;
  }

  .grid-5 {
    grid-auto-rows: minmax(auto, auto);
    grid-row-gap: 16px;
    -ms-grid-rows: 1fr auto auto;
    grid-template-rows: 1fr auto auto;
  }

  .hometitleheader {
    position: static;
    margin-top: 1rem;
    font-size: 3rem;
  }

  .text-block-3 {
    font-size: 1rem;
  }

  .div-block-7 {
    min-height: auto;
    margin-left: 1rem;
  }

  .link-2.homevertnav {
    font-size: 3rem;
    line-height: 0.8;
  }

  .link-3.homevertnav {
    font-size: 3rem;
    line-height: 0.8;
  }

  .link-4.homevertnav {
    font-size: 3rem;
    line-height: 0.8;
  }

  .link-5.homevertnav {
    font-size: 3rem;
    line-height: 0.8;
  }

  .section-3 {
    margin-right: 0rem;
  }

  .navlink {
    font-size: 48px;
  }

  .div-block-11 {
    position: static;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .grid-8 {
    margin-right: 1rem;
    margin-left: 1rem;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .link-6 {
    position: static;
    margin-top: 1rem;
    font-size: 48px;
  }

  .div-block-13 {
    position: static;
    margin-left: 0rem;
  }

  .div-block-14 {
    width: 100%;
    max-width: 100%;
    margin-left: 0rem;
    background-color: hsla(0, 0%, 88.3%, 0);
  }

  .casestudyheader {
    font-size: 36px;
  }

  .casestudysubheading {
    margin-top: 1rem;
    margin-bottom: 0px;
  }

  .paragraph-4 {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
    font-size: 0.8rem;
  }

  .div-block-17 {
    margin-top: 10px;
  }

  .grid-9 {
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .div-block-18 {
    width: 100%;
  }

  .grid-11 {
    width: 100%;
    justify-items: start;
  }

  .image-12 {
    text-align: left;
  }
}

#w-node-ff01fec2-e6fb-b04b-b253-c6640942a8ed-0ad2d58a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-e0c11249-4b6c-76b8-7ff2-8173cd121c38-0ad2d58a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_525f27d9-9ba2-82a9-31cd-4cda12666036-0ad2d58a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7f504fd3-ff2d-72f6-1fb2-ee4b2ec7609d-0ad2d58a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-dc7dfe55-9a6a-e855-1277-8221697ce2a8-0ad2d58a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-_6aab02ec-3d95-7ec3-c462-dcd45fc1fe67-0ad2d58a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_960727b6-3440-97ff-5c4a-2e277bba754a-0ad2d58a {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c85f-c39eefd3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c863-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c864-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c866-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c867-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c869-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c86a-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c86c-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c86d-c39eefd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-af235f69-0b2d-7006-3502-132ef97aafea-c39eefd3 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-ef43d894 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16d-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16e-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc170-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc171-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc173-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc174-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc176-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc177-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-ef43d894 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc186-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc188-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18a-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18c-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18e-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc190-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc192-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc194-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_76900f33-2bb7-b84a-bbbc-48c640c55d49-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a244282d-6dfc-9457-5a0e-790e44248ad9-ef43d894 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-b50c7b4a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16d-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16e-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc170-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc171-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc173-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc174-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc176-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc177-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-b50c7b4a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc186-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc188-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18a-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18c-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18e-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc190-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc192-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc194-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-afa82c8d-02c6-db68-1c02-2f3253fbdaaf-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ec50d22-6580-4849-d594-78bc6ab5b334-b50c7b4a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-670bc005 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16d-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16e-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc171-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc173-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc174-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc176-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc177-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-670bc005 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc186-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc188-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18a-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18c-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18e-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc190-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc192-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc194-670bc005 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-b48f455b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16d-b48f455b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16e-b48f455b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc171-b48f455b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc173-b48f455b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc174-b48f455b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc176-b48f455b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc177-b48f455b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-b48f455b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-d25ebeae {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16d-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16e-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc170-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc171-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc173-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc174-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc176-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc177-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-d25ebeae {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc186-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc188-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18a-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18c-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc18e-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc190-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc192-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc194-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-afa82c8d-02c6-db68-1c02-2f3253fbdaaf-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ec50d22-6580-4849-d594-78bc6ab5b334-d25ebeae {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_8803b3c3-b4aa-3863-9281-5f43205eb024-c39eefd3 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_3fa796d5-498b-96be-2cc2-9a14cb5ef004-c39eefd3 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: -1;
    grid-row-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }

  #w-node-_289c4fea-1016-3fd5-ad31-6d8a31a92194-c39eefd3 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }

  #w-node-_6b58a65a-2c6c-dba8-11a8-b462a7f0b16f-c39eefd3 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ff01fec2-e6fb-b04b-b253-c6640942a8ed-0ad2d58a {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

@media screen and (max-width: 479px) {
  #w-node-ff01fec2-e6fb-b04b-b253-c6640942a8ed-0ad2d58a {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_7f504fd3-ff2d-72f6-1fb2-ee4b2ec7609d-0ad2d58a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  #w-node-dc7dfe55-9a6a-e855-1277-8221697ce2a8-0ad2d58a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  #w-node-_960727b6-3440-97ff-5c4a-2e277bba754a-0ad2d58a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c85f-c39eefd3 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_462583c9-e9ea-06a5-651e-e4c05ee0c862-c39eefd3 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-af235f69-0b2d-7006-3502-132ef97aafea-c39eefd3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-ef43d894 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16c-ef43d894 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-ef43d894 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-b50c7b4a {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16c-b50c7b4a {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-b50c7b4a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-670bc005 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16c-670bc005 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-670bc005 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-b48f455b {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16c-b48f455b {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-b48f455b {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc169-d25ebeae {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc16c-d25ebeae {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_1e522df6-db71-a5c3-ed80-9d577a5cc179-d25ebeae {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

